<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:cxf="http://camel.apache.org/schema/cxf"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd
       http://camel.apache.org/schema/cxf 
       http://camel.apache.org/schema/cxf/camel-cxf.xsd
	   ">
  	
	<cxf:rsServer id="betServer" address="/"
		serviceClass="com.softlogic.rs.BetRestImpl" 
		loggingFeatureEnabled="true"
		loggingSizeLimit="20" 
		skipFaultLogging="true">	
		<cxf:providers>
            <ref bean="jsonProvider" />
            <ref bean="jsonException"/>
         </cxf:providers>
	</cxf:rsServer>

	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
	<bean id="jsonException" class="com.softlogic.rs.JSONParseExceptionMapper"/>
	
<!--            <ref bean="formUrlEncodeProvider" />  -->
<!-- 	<bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.json.JSONProvider"/> -->
<!--   		<property name="marshallAsJaxbElement" value="true" /> -->
<!-- 	</bean> -->
	
	<bean id="formUrlEncodeProvider" class="org.apache.cxf.jaxrs.provider.FormEncodingProvider" />
	
	<bean id="betRoutes" class="com.softlogic.rs.BetRouter" />
	
	<bean id="camelBetHandler" class="com.softlogic.rs.BetterRestImpl"/>

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<routeBuilder ref="betRoutes" />
	</camelContext>

</beans>
